<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- RealSense camera settings -->
    <arg name="width" default="640"/>
    <arg name="height" default="480"/>
    <arg name="fps" default="30"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="depth_width" value="$(arg width)"/>
        <arg name="depth_height" value="$(arg height)"/>
        <arg name="enable_depth" value="true"/>
        <arg name="depth_fps" value="$(arg fps)"/>

        <arg name="infra1_width" value="$(arg width)"/>
        <arg name="infra1_height" value="$(arg height)"/>
        <arg name="enable_infra1" value="false"/>

        <arg name="infra2_width" value="$(arg width)"/>
        <arg name="infra2_height" value="$(arg height)"/>
        <arg name="enable_infra2" value="false"/>

        <arg name="color_width" value="$(arg width)"/>
        <arg name="color_height" value="$(arg height)"/>
        <arg name="enable_color" value="true"/>
        <arg name="color_fps" value="$(arg fps)"/>
    </include>

    <!-- Perception -->
    <include file="$(find ros_people_model)/launch/perception.launch">
        <arg name="face_detector_topic" value="/camera/color/image_raw"/>
        <arg name="face_detector_fps" value="20"/>
        <arg name="frontal_face_detector_fps" value="20"/>
    </include>

    <!-- Ghost Bridge -->
    <node name="faces_throttler" type="throttle" pkg="topic_tools" args="messages /faces 2 /faces_throttled" output="screen"/>
    <node name="ghost_bridge" pkg="ghost_bridge" type="ghost_bridge_node.py" output="screen"/>
</launch>
