<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <include file="$(find ros_people_model)/launch/devhead.launch" />
    <node name="faces_throttler" type="throttle" pkg="topic_tools" args="messages /faces 2 /faces_throttled" output="screen"/>
    <node name="ghost_bridge" pkg="ghost_bridge" type="ghost_bridge_node.py" output="screen"/>
</launch>
